* {
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
}

body {
    background-color: #fffdd0;
}

input[type=text]:invalid {
    border: red solid 1px;
}

.container {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 205px;
    margin-right: 205px;
}
.container > label {
   text-align: center;
}
#comment{
    background-color: whitesmoke;
}
#addComments {
    width: 20%;
    padding: 5px;
    background-color: #1c6919;
    border-radius: 20px;
    color: white;
    align-self: center;
}

.wrapper > button {
    margin-right: 5px;
    padding: 5px;
    border-radius: 20px;
    background-color: #1c6919;
    color: white;
}

